.Home{
    height: 100vh;
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,50,200,0.9532855378479517) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home__button{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5em;
    width: 27em;
    background-color: rgb(255, 243, 70);
    color: rgb(30, 121, 11);
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.Home__button:hover{
    background-color:rgb(30, 121, 11);
    color: rgb(255, 243, 70);
}

.Home__button_text{
    font-family: 'Prompt', sans-serif;
    word-spacing: 0.3em;
}

.Home__Text{
    color: white;
    font-size: 3.5em;
    margin-bottom: 1em;
}