.ServiceCard{
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    color: #184085;
}

.ServiceCard:hover{
    background-color: #04D4F0;
    color: white;
}

.ServiceCard__icon{
    width: 10em;
}

.ServiceCard__text{
    margin-top: 1em;
    font-size: 1.5em;
    font-family: 'Baloo Chettan 2', cursive;
}

.ServiceCard__Navigation{
    text-decoration: none;
    color: inherit;
}