.WebserverButton{
    height: 3.5rem;
    width: 25rem;
    margin: 0.75em;
    border-radius: 10px;
    text-align: center;
    border: none;
    background-color:red;
    color: white;
}


.WebserverButton:hover{
    cursor: pointer;
    color:red;
    background-color: white;
}


h3{
    padding: 0.84em;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 700;
    font-size: large;
}